*.sh
bib_files
bib-files
*.aux
*~
CompGeomechanicsLectureNotes.pdf
Jeremic_CompGeoMech_LectureNotes.pdf
Jeremic_et_al_CompGeoMech_LectureNotes.pdf
LectureNotes_CompGeoMech_first_35_pages.pdf
Jeremic_et_al_CompGeoMech_LectureNotes-nup.pdf
LectureNotes_CompGeoMech_first_8_pages.pdf
*.toc
*.log
*.out
*.bbl
*.blg
*.dvi
*.backup
*.synctex.gz
*.synctex.gz(busy)
*.fdb_latexmk
to_compile_single_chapter.pdf